.category-list{
  @include list-unstyled;
  margin-bottom: 48px;
}

.category-item:not(:last-child){
  margin-bottom: 18px;
}

.category-link{
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  transition: opacity 0.2s ease;
  text-decoration: underline;
  margin-right: 15px;

  &:hover{
    opacity: 0.7;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .category-list{
    margin-bottom: 20px;
  }

  .category-link{
    font-size: 17px;
    margin-right: 15px;
    
    &:hover{
      opacity: 0.7;
    }
  }
}