.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.categories-main__wrapper {
  // flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.list--list .categories-item {
  padding: 27px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categories-card__right {
  margin-left: 27px;
}

.spans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.spans-list {
  display: flex;
  flex-direction: column;
}

.list--list .categories-main__wrapper-img {
  border-radius: 12px;
}

.categories-main__wrapper-content {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list--list .categories-main__wrapper-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.list--grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -48px;
}

.list--grid .categories-main__wrapper-item {
  width: calc(100% / 3 - 32px);
  margin-left: 32px;
  border: 1px solid #D1D1D1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.list--grid .categories-table {
  display: none;
}

.list--grid .categories-card__right-text {
  display: none;
}

.list--grid .text-two {
  display: none;
}

.list--grid .categories-card__right-btn {
  display: none;
}

.list--grid .right-button__add {
  display: none;
}

.list--grid .categories-item {
  flex-direction: column;
  padding: 16px;
}

.list--grid .categories-card__right {
  margin-left: 0px;
}

.list--grid .right-btn {
  display: block;
}

.list--grid .spans {
  display: flex;
  flex-direction: row;
}

.list--list .categories-card__content-title {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 4px;
  color: #151515;
}

.list--list .categories-card__content-p {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  margin-bottom: 10px;
}

.list--list .categories-card__content-list {
  color: #A9A9A9;
}

.list--list .table-categories {
  margin-top: 27px;
}

.list--list .categories-card__content-item {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.list--list .categories-card__content-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
  padding-left: 25px;
}

.list--list .grocery {
  padding-left: 23px;
}

.list--list .europe {
  padding-left: 24px;
}

.list--list .categories-card__content-span {
  color: #6A983C;
}

.list--list .categories-card__content-nomer {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  padding-left: 25px;
}

.list--list .categories-card__right-span {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.list--list .right-two {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.list--list .categories-card__right-text {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.list--list .text-two {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-bottom: 26px;
}

.list--list .categories-card__right-btn {
  display: block;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 12px 16px;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  white-space: nowrap;

  &:hover {
    background-color: #6A983C;
    opacity: 0.6;
    color: #fff;
  }
}

.list--list .right-btn__img {
  margin-left: 12px;
}

.list--list .right-button__add {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 7px 13px;
  background-color: #F5F5F5;
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 12px;
  white-space: nowrap;
}

.list--list .right-button__add-img {
  margin-right: 9px;
}

/* Footer-top__content */

.footer-top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}

.footer-top__wrapper-left {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.footer-top__wrapper-page {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-right: 8px;
}

.one {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.three {
  color: #6A983C;
}

.footer-top__wrapper-middle {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 12px 16px;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 15px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.footer-top__wrapper-img {
  margin-left: 8px;
}

.footer-top__wrapper-right {
  display: flex;
  align-items: center;
}

.right-btn {
  display: none;
  max-width: 90px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  padding: 6px 12px;
  white-space: nowrap;
}

.wrapper-right__336 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0 8px;
  background: #F4F8EC;
  border-radius: 12px;
}

.footer-top__wrapper-product {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-left: 8px;
}

@media only screen and (max-width: 825px) {

  .categories-main__wrapper-item {
    flex-direction: column;
  }

  .categories-main__wrapper-img {
    width: 100%;
  }

  .list--grid .categories-main__wrapper-item {
    width: calc(100% / 2 - 32px);
    margin-left: 32px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  .categories-item {
    flex-direction: column;
  }

  .categories-card__right {
    margin-left: 0;
    margin-top: 20px;
  }
  .list--grid .categories-main__wrapper-item {
    width: 100%;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 485px) {
  .footer-top__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-top__wrapper-middle {
    margin: 0;
  }
}