.categories-main__list {
  max-width: 300px;
}

.categories-main__heading {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.categories-main__wrapper-one {
  margin-right: 30px;
}

.categories-main__content {
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories-main__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.categories-main__text {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.categories-main__span {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  border: 1px solid transparent;
  padding: 0 4px;
  background: #F4F8EC;
  border-radius: 12px;
}

/*categories-main__content-item*/

.brands {
  margin-bottom: 18px;
  margin-top: 48px;
}

.categories-main__content-item {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.categories-main__content-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.categories-main__content-label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

/*Categories-main__brands*/

.categories-main__price {
  width: 251px;
  height: 6px;
  margin-bottom: 16px;
  border-radius: 12px;
  background-color: #ebebeb;
}

.price-heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.price-content {
  position: relative;
  width: 80px;
  height: 100%;
  margin-left: 50px;
  border-radius: 12px;
  background-color: #6a983c;
}

.price-content__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}

.down-min {
  display: flex;
  flex-direction: column;
}

.down-max {
  margin-left: 15px;
}

.price-content__right {
  right: -11px;
}

.price-content__left {
  left: -11px;
}

/* Price-content__down-conten */

.price-content__down-content {
  display: flex;
  margin-top: 18px;
}

.price-content__down-form {
  display: flex;
  flex-direction: column;
}

.form-two {
  margin-left: 33px;
  position: relative;

  &::before {
    content: '-';
    position: absolute;
    top: 25px;
    left: -18px;
    color: #D1D1D1;
  }
}

.price-content__down-min {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  margin-bottom: 3px;
}

.price-content__form {
  max-width: 109px;
  padding: 11px 16px 12px 21px;
  background-color: #F9F9F9;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 12px;
}

.price-content__down-nomer {
  width: 72px;
  height: 19px;
  background-color: transparent;
  border: 1px solid transparent;
}

/* APPLY */

.apply {
  margin-top: 30px;
}

.apply-btn {
  padding: 12px 16px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  cursor: pointer;
  border-radius: 12px;
}

.reset-btn {
  padding: 12px 16px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #A9A9A9;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 46px;
}

/* grid korinishi*/

.categories-grid {
  display: flex;
  flex-wrap: wrap;
}

// FILTER

.filter-button__togler {
  display: none;
  background-color: transparent;
  margin-left: auto;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url(../../img/icon-filter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 1100px) {
  .categories-main__wrapper-one {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 40px;
  }

  .filter--open {
    display: block;
  }

  .categories-main__wrapper-item {
    margin-left: 0;
  }

  .filter-button__togler {
    display: block;
  }
}